$bg-white: #fff;
$bg-gray: #f6f9fc;
$bg-dim: #eef2f7;
$bg-dark: #32325d;
$bg-light: #3b3c74;

$border: rgba(207, 215, 223, 0.25);

$fill-accent: #6772e5;
$fill-alt: #87bbfd;
$fill-bg: #43458b;

$link: #6772e5;
$link-hover: #32325d;
$link-active: #000;

$text-dark: #32325d;
$text-dim: #525f7f;
$text-gray: #6b7c93;
$text-accent: #6772e5;
$text-cyan: #9cdbff;
$text-light: #8898aa;
$text-lighter: rgb(136, 152, 170);
$text-white: #fff;

$button-dark-body: #32325d;
$button-dark-body-hover: #43458b;
$button-dark-body-active: #32325d;
$button-dark-text: #fff;
$button-dark-text-active: #e6ebf1;

$button-default-body: #fff;
$button-default-body-active: #f6f9fc;
$button-default-text: #6772e5;
$button-default-text-hover: #7795f8;
$button-default-text-active: #555abf;

$button-accent-body: #6772e5;
$button-accent-body-hover: #7795f8;
$button-accent-body-active: #555abf;
$button-accent-text: #fff;
$button-accent-text-active: #e6ebf1;
