@import 'gridlover';
@import 'breakpoints';
@import 'colors';
html,
body {
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
}

figure {
	// background-color: $text-accent;
}

button {
	border: none;
}

// p {
// 	font-size: 18px;
// }

a {
	color: $link;
	font-weight: 500;
	transition: color 0.1s ease;
	cursor: pointer;
	&:hover {
		color: $link-hover;
	}
	&:active {
		color: $link-active;
	}
}

a,
button,
input,
select,
textarea {
	-webkit-tap-highlight-color: transparent;
	&:focus {
		outline: none;
	}
}

h1,
h2 {
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #32325d;
}

p {
	color: #6b7c93;
}

pre,
code {
	font-family: $code;
}

section {
	display: block;
	width: 100%;
	height: auto;
}

.container {
	display: block;
	max-width: 1040px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.narrow {
	display: block;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.header {
	h1 {
		margin: 0px;
		font-size: 48px;
		@include respond-to('medium') {
			font-size: 54px;
		}
	}
	p {
		margin-top: 20px;
		margin-bottom: 0px;
		font-size: 20px;
		line-height: 29px;
	}
}

.card {
	display: block;
	border-radius: 6px;
	border: none;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 15px 35px rgba(0, 0, 0, 0.1), 0 50px 100px rgba(50, 50, 93, 0.1);
}

.list-features {
	display: flex;
	flex-direction: column;
	@include respond-to('medium') {
		flex-direction: row;
	}
	list-style: none;
	padding: 0;
	.feature-block {
		display: list-item;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 100%;
		flex: 1;
		padding: 20px;
		@include respond-to('medium') {
			&:nth-of-type(1) {
				padding-left: 0px;
			}
			&:nth-last-of-type(1) {
				padding-right: 0px;
			}
		}
		figure {
			width: 64px;
			height: 64px;
			margin-top: 10px;
			margin-bottom: 20px;
		}
		h3 {
			font-size: 19px;
			margin-bottom: 10px;
			margin-top: 0px;
		}
		p {
			margin-bottom: 0px;
		}
	}
}

.c-text-dark {
	color: $text-dark;
}

.c-text-dim {
	color: $text-dim;
}

.c-text-gray {
	color: $text-gray;
}

.c-text-accent {
	color: $text-accent;
}

.c-text-cyan {
	color: $text-cyan;
}

.c-text-light {
	color: $text-light;
}

.c-text-lighter {
	color: $text-lighter;
}

.c-text-white {
	color: $text-white;
}

.split-feature {
	display: flex;
	flex-direction: column;
	@include respond-to('medium') {
		flex-direction: row;
	}
	align-items: center;
	figure {
		width: 72px;
		height: 72px;
		margin-bottom: 30px;
	}
	.feature-content {
		h1 {
			margin-bottom: 30px;
			margin-top: 0px;
			line-height: 50px;
			font-size: 48px;
		}
		p {
			margin-bottom: 0px;
			margin-top: 20px;
		}
		padding: 20px;
		@include respond-to('medium') {
			padding: 0px;
		}
		flex: 0 0 50%;
	}
	.feature-figure {
		flex: 0 0 50%;
		padding-top: 30px;
		@include respond-to('medium') {
			padding-top: 0px;
			padding-left: 80px;
		}
	}
}

.button-base {
	font-weight: 600 !important;
	flex-shrink: 0;
	margin: 10px;
	white-space: nowrap;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 14px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	border-radius: 4px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	text-decoration: none;
	transition: all 0.15s ease;
	transform: translateY(0px);
	&:hover {
		transform: translateY(-1px);
		box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
	}
	&:active {
		transform: translateY(1px);
		box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
	}
}

.button-default {
	@extend .button-base;
	background-color: $button-default-body;
	color: $button-default-text;
	&:hover {
		color: $button-default-text-hover;
	}
	&:active {
		color: $button-default-text-active;
		background-color: $button-default-body-active;
	}
}

.button-accent {
	@extend .button-base;
	background-color: $button-accent-body;
	color: $button-accent-text;
	&:hover {
		background-color: $button-accent-body-hover;
	}
	&:active {
		color: $button-accent-text-active;
		background-color: $button-accent-body-active;
	}
}

.button-dark {
	@extend .button-base;
	background-color: $button-dark-body;
	color: $button-dark-text;
	&:hover {
		background-color: $button-dark-body-hover;
	}
	&:active {
		color: $button-dark-text-active;
		background-color: $button-dark-body-active;
	}
}

.big-section {
	overflow: hidden;
	position: relative;
	padding: 90px 0;
	@include respond-to('medium') {
		padding: 180px 0;
	}
}

.c-bg-white {
	background: $bg-white;
}

.c-bg-gray {
	background: $bg-gray;
}

.c-bg-dim {
	background: $bg-dim;
}

.c-bg-dark {
	background: $bg-dark;
}

.c-bg-light {
	background: $bg-light;
}

.c-bg-gradient-dark {
	// background: #32325d;
	// background: -moz-linear-gradient(-45deg, #32325d 0%, #3b3c74 100%);
	// background: -webkit-linear-gradient(-45deg, #32325d 0%, #3b3c74 100%);
	// background: linear-gradient(-45deg, #32325d 0%, #3b3c74 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32325d', endColorstr='#3b3c74', GradientType=1);
	// background: linear-gradient(90deg, #6fa8ef, #5a65db);
	background: linear-gradient(-90deg, #6772e5, #87bbfd);
}

.gradient-background {
	transform: skew(0deg, 10deg);
	z-index: 1;
	height: 120vh;
	width: 100%;
	position: absolute;
	top: -10vh;
	@include respond-to('medium') {
		top: -30vh;
	}
}

svg {
	pointer-events: none;
}

.hero-section {
	// overflow: hidden;
	position: relative;
	height: 100vh;
	.container {
		z-index: 3;
		position: relative;
	}
	&-skew {
		position: relative; // overflow: hidden;
		z-index: 100;
		transform: skew(0deg, 10deg);
		.unskew {
			transform: skew(0deg, -10deg);
		}
		.container {
			z-index: 3;
			position: relative;
			top: 20vh;
			transform: skew(0deg, -10deg);
		}
	}
}

#hero_animation {
	margin-top: -40px;
	margin-bottom: -40px;
	@include respond-to('medium') {
		margin-top: -80px;
		margin-bottom: -80px;
	}
}

.above {
	position: relative;
	z-index: 30;
}

.below {
	position: absolute;
	z-index: 1;
}

.hero-skew {
	height: 997px;
	width: 100%;
	top: -310px; // left: 0px;
	transform: skewY(30deg);
	position: absolute;
	background: linear-gradient(90deg, #6fa8ef, #5a65db);
}

.hero {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@extend .header;
}

.hero-bg {
	position: absolute;
	top: -8%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.5;
}

.hero-image {
	width: 30vh;
	padding: 90px 0;
}

.button-row {
	display: flex;
	flex-direction: row;
}

hr {
	border-color: $border;
}

.footer {
	background-color: $bg-gray;
	padding: 65px 0 55px;
	line-height: 30px;
	white-space: nowrap;
}
